//Animation
@keyframes animation-to-top {
    from {
        top: 100%;
        opacity: 1;
    }
    to {
        top: 150%;
        opacity: 0;

    }
}
@keyframes animation-to-bottom {
    from {
        top: 150%;
        opacity: 0;
    }
    to {
        top: 100%;
        opacity: 1;

    }
}
// Sắp xếp gird layout

// Xử lý kí tự 
.uppercase {
    text-transform: uppercase;
}
// Xử lý ảnh
img{
    object-fit: cover;
}
